.flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 67px;
    min-height: 100vh;
}

.task-create {
    padding-top: 10px;
    padding-left: 10px;
}

.tasks-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.buttons{
    display: flex;
    gap: 30px;
}

.button{
    width: 100px;
    height: 50px;
    border-radius: 7px;
}

.button:hover {
    background-color: lightgray;
}