.navbar{
    display: flex;
    height: 67px;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    border-bottom: solid;
}

.buttons{
    display: flex;
    gap: 30px;
}

.button{
    width: 100px;
    height: 50px;
    border-radius: 7px;
}